.password-container {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  justify-content: center;
  max-height: 90vh;
  max-width: 90vw;
  border-radius: 10px;
  margin: 2vh auto;
}

.password-input {
  min-width: 20vw;
  max-width: 50vw;
  padding-left: 0.2rem;
  border-radius: 7px;
}

.toggle-bt {
  width: 1.5rem;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .password-container {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    justify-content: center;
    max-height: 90vh;
    max-width: 90vw;
    border-radius: 10px;
    margin: 2vh auto;
  }
  .password-input {
    font-size: 0.7rem;
    max-width: 55vw;
    min-width: 50vw;
    border-radius: 7px;
  }
  .password-span {
    font-size: 0.9rem;
  }
  .container {
    display: flex;
    flex-direction: row;
    gap: 1vw;
  }
}
